/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --
@media (max-width: 992px){

}

@media (max-width: 768px){

}

@media (max-width: 576px){

}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}

[class*="col-"]{
    padding: 1rem;
}*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');


@media (max-width: 992px){

}

@media (max-width: 768px){

}

@media (max-width: 576px){

}

body {
  overflow-x: hidden;
  font-family: 'Poppins';
  color: #505962;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.btn-purple {
  border-color: #d3baba;
  background-color: #d3baba;
  color: white;
  margin: 1rem;
}
.btn-purple:hover,
.btn-purple:focus {
  border-color: #594781;
  background-color: #594781;
  color: white;
}

.feature img {
  padding: 1.5rem;
}

footer {
  background-color: #40474e;
  background-size: cover;
  color: white;
}
footer .row {
  padding: 1.5rem 0 4rem;
  line-height: 1.8rem;
}
footer img {
  margin: 1.5rem 0;
}
footer h3 {
  margin: 1.5rem 0;
}

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

h4 {
  margin: 1% 0 1% 0;
}

._14 {
  font-size: 1.4em;
}

.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #3d5b99;
}

  .fa-facebook:hover {
      background-color: #3d5b99;
  }

.fa-twitter {
  padding: 10px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #00aced;
}

  .fa-twitter:hover {
      background-color: #00aced;
  }

.fa-youtube {
  padding: 10px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e64a41;
}

  .fa-youtube:hover {
      background-color: #e64a41;
  }

.fa-instagram {
  padding: 10px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #E4405F;
}

  .fa-instagram:hover {
      background-color: #E4405F;
  }

/*-- Extra Bootstrap Column Padding --*/

[class*="col-"] {
  padding: 1rem;
}