
RewriteEngine on
RewriteCond %{HTTP_HOST} ^tumedicomx\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ "http\:\/\/www\.tumedicomx\.com\/$1" [R=301,L]

